@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

.home{
    min-height: 80vh;
    background-color: #2A3D45;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

}

.solCard{
    height: 300px;
    width: 250px;
    padding: 5px;
    box-shadow: 4px 3px 10px #222;
    color: #aaa;
    border-radius: 5px;
    background-color: rgb(78, 89, 94);
    font-family: 'Tomorrow', sans-serif;
    margin: 20px;
}

.solCard:hover{
    background-color: rgb(92, 97, 99);
    cursor: pointer;
}

.solCard img{
    width: 250px;
    object-fit: cover;
}